<div class="image-preloader">
    <div class='image-preloader__circle'>
        <div class='image-preloader__inner'></div>
    </div>
    <div class='image-preloader__circle'>
        <div class='image-preloader__inner'></div>
    </div>
    <div class='image-preloader__circle'>
        <div class='image-preloader__inner'></div>
    </div>
    <div class='image-preloader__circle'>
        <div class='image-preloader__inner'></div>
    </div>
    <div class='image-preloader__circle'>
        <div class='image-preloader__inner'></div>
    </div>
</div>