<header class="categories-sidebar__heading">Каталог товаров</header>
<ul class="categories-sidebar__categories-list">
    <li ng-repeat="category in categories"

        data-drop-down-list

        class="categories-sidebar__list-item">
        <a

           data-ui-sref="categories({categoryName: category[0].category_id})"

           data-drop-down="{{!!category.subcategories}}"

           class="categories-sidebar__link">{{category[0].meta_title | lowercase}}</a>
        <ul data-ng-if="category.subcategories"

            class="categories-sidebar__categories-list categories-sidebar__categories-list--sublist">
            <li ng-repeat="subcategory in category.subcategories"

                class="categories-sidebar__list-item">
                 <a href="/categories/{{subcategory[0].category_id}}" class="categories-sidebar__link"> - {{subcategory[0].name | lowercase}}</a>
            </li>
        </ul>
    </li>
</ul>
