<header class="categories-sidebar__heading">Каталог товаров</header>
<ul class="categories-sidebar__categories-list">
    <li ng-repeat="category in categories"

        data-drop-down-list

        class="categories-sidebar__list-item">
        <a class="categories-sidebar__link"

           data-ng-click="goToUIState({name: 'products-list', params: {categoryId: category.category_id, categoryName: category.name}}, category.subcategories)"

           data-drop-down="{{!!category.subcategories}}">
            {{category.meta_title | lowercase}}
        </a>
        <ul data-ng-if="category.subcategories"

            class="categories-sidebar__categories-list categories-sidebar__categories-list--sublist">
            <li ng-repeat="subcategory in category.subcategories"

                class="categories-sidebar__list-item">
                 <a class="categories-sidebar__link"

                    data-ng-click="goToUIState({name: 'products-list', params: {categoryId: subcategory.category_id, categoryName: subcategory.name}}, !!subcategory.subcategories)">  {{subcategory.meta_title}} - {{subcategory.name | lowercase}}</a>
            </li>
        </ul>
    </li>
</ul>
