<!--SLIDER-->
<section class="grid-row slider-section">
	<div class="main-slider"

	     id="main-slider"

	     data-slider

	     ng-controller="sliderCtrl as slider">
	</div>
</section>

<!--blank line-->
<div class="container streak"></div>

<section class="main-page-services">
	<a href="#" data-ui-sref="rent" class="main-page-services__box main-page-services__box--rent wow animated fadeInLeft">Прокат</a>
	<a href="#" data-ui-sref="repair" class="main-page-services__box main-page-services__box--repair wow animated fadeInRight">Ремонт</a>
</section>

<!--categories list-->
<section class="categoriest-list"

         data-categories-list

         ng-controller="categoriesListCtrl as categories">
</section>

<!--blank line-->
<div class="container streak"></div>

<section class="products-carousel"

         data-products-carousel="promo"

         ng-controller="promoProductsCtrl">
</section>

<div class="container streak"></div>

<section class="products-carousel products-carousel--novelties"

		 data-products-carousel="new"

		 ng-controller="latestProductsCtrl">
</section>

<!--<section class="container impulse-products impulse-products&#45;&#45;novelties"-->

		 <!--data-products-carousel-->

		 <!--ng-controller="impulseProductsCtrl as products">-->
<!--</section>-->

<!--&lt;!&ndash;blank line&ndash;&gt;-->
<!--<div class="container streak"></div>-->

<!--<main class="main-page-container container">-->
	<!--&lt;!&ndash;page content&ndash;&gt;-->
	<!--<article class="page-content row col-md-7"-->

						<!--data-page-content-->

						<!--ng-controller="pageContentCtrl as pageContent">-->
	<!--</article>-->

	<!--&lt;!&ndash;sidebar additional&ndash;&gt;-->
	<!--<aside class="sidebar right-sidebar row col-md-4"-->

	       <!--data-sidebar-additional-->

	       <!--ng-controller="sidebarAdditionalCtrl as sidebarAdd">-->
	<!--</aside>-->
<!--</main>-->