@import "../../../beard/sass/beard"

.container.products-carousel
  position: relative
  height: 450px
  padding: 20px 215px
  background-color: $light-brown

.products-carousel__list-container
  max-width: 970px
  overflow-x: hidden

.products-carousel__list
  width: 999999px
  @include fullTrans(.5s)

$products-carousel-arrow-offset: 160px

.products-carousel__carousel-arrow
  .carousel-arrow
    top: 210px

.products-carousel__carousel-arrow--back
  .carousel-arrow
    left: $products-carousel-arrow-offset

.products-carousel__carousel-arrow--forward
  .carousel-arrow
    right: $products-carousel-arrow-offset
    transform: scale(-1)

.products-carousel--both-prices
  .product-item__basic-price
    width: calc(50% - 1px)
    text-decoration: line-through
  .product-item__discount-price
    display: block

.container.products-carousel--novelties
  background-color: $white
  .common-section-header__link
    border-color: $middle-brown
    color: $middle-brown
  .products-carousel__carousel-arrow
    .carousel-arrow__icon
      fill: $light-brown
  .product-item__novelty-plate
    display: block

.products-carousel--recommendations
  .products-carousel__carousel-arrow
    display: none
  .products-carousel__list-container
    width: 755px
  .products-list__product-item
    width: 170px