<article class="info-page">
    <div data-breadcrumbs class="breadcrumbs"></div>

    <header class="page-title make-order-page__page-title">
        <h1 class="page-title__header">Тактическая борода</h1>
    </header>

    <div class="text-module">
        <div class="text-module__central">
            <br><br>
            <p>"Тактическая борода" - магазин снаряжения для игры в страйкбол. Также мы предоставляем услуги по ремонту оборудования, организуем игры и предоставляем снаряжение напрокат.</p>

            <img style="display: block;margin: auto" src="img/content/contacts.jpg" alt="Тактическая борода">
        </div>
    </div>
</article>

<script>
    document.title = 'О магазине "Тактическая борода"'
</script>