<article class="info-page">
    <div data-breadcrumbs class="breadcrumbs"></div>

    <header class="page-title make-order-page__page-title">
        <h1 class="page-title__header">Организация игр</h1>
    </header>

    <div class="text-module">
        Наша компания организует и проводит игры в Страйкбол с июня 2006 года, то есть уже больше 10-ти лет мы дарим нашим клиентам радость от Игры, Победы и Общения с друзьями! За это время мы провели почти 400 игр <a target="_blank" href="https://vk.com/album-20132331_199028049">[ФОТО]</a> среди которых две популярные серии: по миру Сталкера, и <a target="_blank" href="https://vk.com/orangethreat  ">"Оранжевая угроза"</a>
    </div>
</article>