<article class="info-page">
    <div data-breadcrumbs class="breadcrumbs"></div>

    <header class="page-title make-order-page__page-title">
        <h1 class="page-title__header">Как нас найти:</h1>
    </header>

    <div class="text-module">
        <p>Сеть "Тактическая Борода"</p>
        <p>г. Калининград, пл. Калинина 11-17, 40-25-70 Пролетарская 5, 90-25-70 Красная 247</p>
        <p>Время работы: ПН-СБ с 10 до 20 ВС с 9:30 до 17</p>
        <p>Телефоны: <br> <a href="tel:+79082902570">+7 (908) 290-25-70</a> <br>
            <a href="tel:+79527928059">+7 (952) 792-80-59</a> <br>
            <a href="tel:+74012902570">+7 (4012) 902-570</a> <br>
            <a href="tel:+74012402570">+7 (4012) 402-570</a> <br></p>

        <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d2304.8690496528247!2d20.5108642!3d54.711927!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x46e33e000134df89%3A0x32a716d646600e31!2z0JzQsNCz0LDQt9C40L0g0YHQvdCw0YDRj9C20LXQvdC40Y8g0LTQu9GPINC40LPRgNGLINCyINCh0YLRgNCw0LnQutCx0L7QuyAi0KLQsNC60YLQuNGH0LXRgdC60LDRjyDQkdC-0YDQvtC00LAi!5e0!3m2!1sru!2sru!4v1509307292610" width="100%" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>

        <br><br>

        <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d144.11033036411783!2d20.499456!3d54.6961579!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x46e3163b61783f19%3A0xab8155a99db1509e!2z0KHQtdGC0Ywg0LzQsNCz0LDQt9C40L3QvtCyINGB0L3QsNGA0Y_QttC10L3QuNGPINC00LvRjyDQuNCz0YDRiyDQsiDQodGC0YDQsNC50LrQsdC-0LsgItCi0JDQmtCi0JjQp9CV0KHQmtCQ0K8g0JHQntCg0J7QlNCQIg!5e0!3m2!1sru!2sru!4v1509307362187" width="100%" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>

        <br><br>

        <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d575.7563343875564!2d20.47343!3d54.7443571!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x46e33e6c519d041b%3A0x7f1d1ca5dba9d664!2z0YPQuy4g0JrRgNCw0YHQvdCw0Y8sIDI0Nywg0JrQsNC70LjQvdC40L3Qs9GA0LDQtCwg0JrQsNC70YPQttGB0LrQsNGPINC-0LHQuy4sIDIzNjAyMw!5e0!3m2!1sru!2sru!4v1509307379854" width="100%" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>

        <!--<script type="text/javascript" charset="utf-8" async src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3A3ee079586595ca68e82c4e55dcd8579d3a8e9e42a9e429b0b5b2c714b3bdc3cd&amp;width=100%25&amp;height=417&amp;lang=ru_RU&amp;scroll=true"></script>-->
    </div>
</article>

<script>
    document.title = 'Контакты'
</script>
