<article class="info-page">
    <div data-breadcrumbs class="breadcrumbs"></div>

    <header class="page-title make-order-page__page-title">
        <h1 class="page-title__header">Как нас найти:</h1>
    </header>

    <div class="text-module">
        <p>Магазин снаряжения для игры в Страйкбол "Тактическая Борода</p>
        <p>г. Калининград, ул. Пролетарская, д. 5</p>
        <p>Время работы: с 10:00 до 20:00 воскресенье с 9:30 до 17:00</p>
        <p>Тел. <a href="tel:+74012902570">+7 (4012) 90-25-70</a></p>

        <script type="text/javascript" charset="utf-8" async src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3A3ee079586595ca68e82c4e55dcd8579d3a8e9e42a9e429b0b5b2c714b3bdc3cd&amp;width=100%25&amp;height=417&amp;lang=ru_RU&amp;scroll=true"></script>
    </div>
</article>

<script>
    document.title = 'Контакты'
</script>
