<article class="info-page">
    <div data-breadcrumbs class="breadcrumbs"></div>

    <header class="page-title make-order-page__page-title">
        <h1 class="page-title__header">Оплата и доставка</h1>
    </header>

    <div class="text-module">
        <p>Оплата товаров</p>
        <ul>
            <li>Наличными в магазине на ул. Пролетарская 5</li>
            <li>Наличными курьеру при получении</li>
            <li>Яндекс.Касса</li>
        </ul>
        <p>Доставка товаров</p>
        <ul>
            <li>Самовывозом из магазина; </li>
            <li>Курьером в черте города - 150 рублей, при заказе от 7500 рублей стоимость доставки в подарок; </li>
            <li>Курьером за чертой города - от 300 рублей; </li>
            <li>Доставка по РФ - одобренной вами ТК, стоимость доставки за счет покупателя;</li>
        </ul>
    </div>
</article>

<script>
    document.title = 'Доставка и оплата'
</script>