<article class="info-page">
    <div data-breadcrumbs class="breadcrumbs"></div>

    <header class="page-title make-order-page__page-title">
        <h1 class="page-title__header">Юридическая информация</h1>
    </header>

    <div class="text-module">
        <b>ИП Даниленко Евгения Юрьевна</b> <br>
        ОГРН 311392634700011 <br>
        ИНН 390604323923 <br>
        Юр. адрес: Россия, Калининградская область, г. Озерск, ул. Багратиона, д. 41 <br>
        Физ. адрес: 236040, Россия, г. Калининград, ул. Пролетарская, д. 5 <br>
        Магазин снаряжения для игры в Страйкбол "Тактическая Борода" <br>
        Ответсвенный за получение груза: Васильчук Геннадий Владимирович, <br>
        тел. 89521136033 gena.vasilchuk@gmail.com <br><br>

        <b>Расчетный счет</b> <br>
        40802810100000231471 <br>
        Банк АО «Тинькофф Банк» <br>
        Корр. счет Банка 30101810145250000974 <br>
        ИНН Банка 7710140679 <br>
        БИК Банка 044525974 <br>
        Юридический адрес Банка: <br>
        Москва, 123060, <br>
        1-й Волоколамский проезд, д. 10, стр. 1 <br>
    </div>
</article>

<script>
    document.title = 'Юридическая информация'
</script>