<article class="info-page">
    <div data-breadcrumbs class="breadcrumbs"></div>

    <header class="page-title make-order-page__page-title">
        <h1 class="page-title__header">Прокат оборудования</h1>
    </header>

    <div class="text-module">
        <p>Стоимость игры 1000 рублей за 4 часа игры. </p>
        <p>В стоимость входит: привод (АК серия), форма (китель, брюки, бандана), разгрузочный жилет, сигнальный жилет, защитные очки, защитная маска и 500 шаров, инструктаж, судейское сопровождение* и ведение игры* </p>
        <p>*Для группы от 8 человек. </p>
        <p> Дополнительные 500 шаров - 100 рублей. Страйкбольная граната - 75 рублей. </p>
        <p>Поиграть можно группой от 8 человек в любой день недели по предварительной договоренности, или же любым количеством в любое воскресенье (уточняйте наличие свободных мест по телефону магазина 90-25-70 каждый день с 10:00 до 20:00, в воскресенье с 9:30 до 17:00)
        </p>
        <p>Внимание! Мы работаем по предоплате, ведь ничто так не укрепляет веру в то, что человек приедет в воскресенье утром на игру, как предоплата :) Мы готовы принять ее в нашем магазине.</p>
        <p>Только наличие чека о принятой оплате гарантирует ваше участие в игре. </p>
        <p>Правила по которым проводятся игры - <a target="_blank" href="https://vk.com/topic-20132331_23303885">Правила игры используемые на прокатных играх</a>. </p>
        <p>Сценарии по которым проводятся игры - <a target="_blank" href="https://vk.com/topic-20132331_23302588">Сценарии игр</a> </p>
        <p>Полигоны на которых проводим игры - <a target="_blank" href="https://vk.com/topic-20132331_26550793">Мой любимый полигон</a> </p>
    </div>
</article>