<div class="auth-modal__window animated fadeInDown">
    <header class="auth-modal__header">Войти в личный кабинет</header>

    <form class="auth-modal__form" data-ng-submit="$authCtrl.login($event)">
        <label class="auth-modal__form-label">
            E-mail: <br>
            <input type="text" class="auth-modal__input" data-ng-model="$authCtrl.userEmail">
        </label>
        <label class="auth-modal__form-label">
            Пароль: <br>
            <input type="password" class="auth-modal__input"  data-ng-model="$authCtrl.userPassword">
        </label>

        <input type="submit" class="auth-modal__input auth-modal__input--submit" value="Войти">
    </form>

    <a href="#" class="auth-modal__already-registered">Уже зарегистрированы?</a>
</div>