@import "../../beard/sass/beard"

.categories-sidebar
  float: left
  width: 300px
  padding: 20px 60px
  background-color: $middle-brown


.categories-sidebar__heading
  color: $white
  font-family: $font-family-condensed-medium
  font-size: $font-size-h3
  letter-spacing: -.5px
  text-transform: uppercase

.categories-sidebar__list

.categories-sidebar__list-item
  display: block
  list-style-type: none

.categories-sidebar__link
  color: $light-brown
  font-family: $font-family-condensed-light
  font-size: $font-size-h5
  &:hover
    color: $light-brown