@import "../../beard/sass/beard"

//$left-categories-sidebar-offset: calc(100vw - 1200px)/2

.categories-sidebar
  position: absolute
  top: 0
  //float: left
  z-index: 1
  width: 300px
  padding: 20px 30px
  background-color: $middle-brown
  transform: translate(100px, 119px)
  transition: .3s
  @media all and (max-width: 1400px)
    transform: translate(0, 119px)
  @media all and (max-width: 1024px)
    width: 100vw
    height: 100px
    overflow: hidden
    margin-top: 151px
    text-align: center
  &--opened
    height: auto

.categories-sidebar__toggle
  display: none
  margin-bottom: 16px
  color: $white
  @media all and (max-width: 1024px)
    display: inline-block

.categories-sidebar__heading
  color: $white
  font-family: $font-family-condensed-medium
  font-size: $font-size-h3
  letter-spacing: -.5px
  text-transform: uppercase

.categories-sidebar__categories-list--sublist
  display: none

.categories-sidebar__list-item
  display: block
  list-style-type: none
  &:first-letter
    text-transform: uppercase

.categories-sidebar__link
  display: inline-block
  padding: 0 10px
  color: $light-brown
  font-family: $font-family-condensed-light
  font-weight: $font-weight-bold
  font-size: $font-size-h5
  letter-spacing: .5px
  &:hover
    cursor: pointer
    color: $light-brown
  &:first-letter
    text-transform: uppercase
  &:focus
    color: $white
    text-decoration: none