<div class="site-footer__column">
    <div class="site-footer__column-header">Информация</div>

    <ul class="site-footer__list">
        <li class="site-footer__list-item">
            <a href="#" data-ui-sref="delivery-and-payment" class="site-footer__list-item-link">Доставка</a>
        </li>
        <li class="site-footer__list-item">
            <a href="#" data-ui-sref="delivery-and-payment" class="site-footer__list-item-link">Способы оплаты</a>
        </li>
        <li class="site-footer__list-item">
            <a href="#" data-ui-sref="repair" class="site-footer__list-item-link">Ремонт</a>
        </li>
        <li class="site-footer__list-item">
            <a href="#" data-ui-sref="rent" class="site-footer__list-item-link">Прокат</a>
        </li>
        <li class="site-footer__list-item">
            <a href="#" data-ui-sref="arrange-game" class="site-footer__list-item-link">Организация игр</a>
        </li>
        <li class="site-footer__list-item">
            <a href="/docs/public-offer.docx" class="site-footer__list-item-link">Публичная оферта</a>
        </li>
    </ul>
</div>

<div class="site-footer__column">
    <div class="site-footer__column-header">Контакты</div>

    <ul class="site-footer__list">
        <li class="site-footer__list-item">Телефон: +7 (4012) 12-34-56</li>
        <li class="site-footer__list-item">E-mail: <a class="site-footer__list-item-link" href="mailto:#">info@tacticalbeard39.com</a></li>
        <li class="site-footer__list-item">Россия, г. Калининград, ул. Пролетарская, д. 1</li>
        <li class="site-footer__list-item">
            <a href="#"><i class="fa fa-vk site-footer__fa" aria-hidden="true"></i></a>
            <a href="#"><i class="fa fa-youtube site-footer__fa" aria-hidden="true"></i></a>
            <a href="#"><i class="fa fa-google-plus site-footer__fa" aria-hidden="true"></i></a>
            <a href="#"><i class="fa fa-instagram site-footer__fa" aria-hidden="true"></i></a>
        </li>
    </ul>
</div>

<div class="site-footer__logo logo">
    <img data-img-svg src="img/icons/logo.svg" alt="Tactical beard">

    <div class="site-footer__copyright">&copy; 2017 магазин &laquoTACTICAL BEARD&raquo</div>
</div>