<div class="site-footer__column">
    <div class="site-footer__column-header">Информация</div>

    <ul class="site-footer__list">
        <li class="site-footer__list-item">
            <a href="#" data-ui-sref="delivery-and-payment" class="site-footer__list-item-link">Доставка</a>
        </li>
        <li class="site-footer__list-item">
            <a href="#" data-ui-sref="delivery-and-payment" class="site-footer__list-item-link">Способы оплаты</a>
        </li>
        <li class="site-footer__list-item">
            <a href="#" data-ui-sref="repair" class="site-footer__list-item-link">Ремонт</a>
        </li>
        <li class="site-footer__list-item">
            <a href="#" data-ui-sref="rent" class="site-footer__list-item-link">Прокат</a>
        </li>
        <li class="site-footer__list-item">
            <a href="#" data-ui-sref="arrange-game" class="site-footer__list-item-link">Организация игр</a>
        </li>
        <li class="site-footer__list-item">
            <a href="#" data-ui-sref="juridical-info" class="site-footer__list-item-link">Юридическая информация</a>
        </li>
        <li class="site-footer__list-item">
            <a target="_blank" href="/docs/public-offer.docx" class="site-footer__list-item-link">Публичная оферта</a>
        </li>
        <li class="site-footer__list-item">
            <a target="_blank" href="/docs/Politika_konfidentsialnosti.docx" class="site-footer__list-item-link">Политика конфиденциальности</a>
        </li>
    </ul>
</div>

<div class="site-footer__column">
    <div class="site-footer__column-header">Контакты</div>

    <ul class="site-footer__list">
        <li class="site-footer__list-item">Телефоны: <br>
            <a href="tel:+79082902570">+7 (908) 290-25-70</a> <br>
            <a href="tel:+79527928059">+7 (952) 792-80-59</a> <br>
            <a href="tel:+74012902570">+7 (4012) 902-570</a> <br>
            <a href="tel:+74012402570">+7 (4012) 402-570</a> <br>
        </li>
        <li class="site-footer__list-item">E-mail: <a class="site-footer__list-item-link" href="mailto:admin@tacbeard.com">admin@tacbeard.com</a></li>
        <li class="site-footer__list-item">Россия, г. Калининград: <br> пл. Калинина 11-17 <br> ул. Пролетарская, д. 5 <br> ул. Красная, 247</li>
        <li class="site-footer__list-item">
            <a target="_blank" href="https://vk.com/tacticalbeard39"><i class="fa fa-vk site-footer__fa" aria-hidden="true"></i></a>
            <!--<a href="#"><i class="fa fa-youtube site-footer__fa" aria-hidden="true"></i></a>-->
            <a target="_blank" href="https://plus.google.com/102282317852454243506"><i class="fa fa-google-plus site-footer__fa" aria-hidden="true"></i></a>
            <a target="_blank" href="https://www.instagram.com/shop_tacbeard/"><i class="fa fa-instagram site-footer__fa" aria-hidden="true"></i></a>
        </li>
        <li class="site-footer__list-item">
            <br>
            ИП Даниленко Евгения Юрьевна (ИНН 390604323923, ОГРНИП 311392634700011)
        </li>
    </ul>
</div>

<div class="site-footer__logo logo">
    <img data-img-svg src="img/icons/logo.svg" alt="Tactical beard">

    <div class="site-footer__copyright">&copy; 2017 магазин &laquoTACTICAL BEARD&raquo</div>
</div>