<section class="site-content-wrapper">
	<aside class="categories-sidebar"

		   data-categories-sidebar

		   ng-controller="categoriesSidebarCtrl">
	</aside>

	<div class="products-list grid-row" data-ui-view>
		<ul class="products-list__list">
			<li ng-include="'templates/product-item/product-item.html'"
				class="product-item products-list__product-item product-item--both-prices" >
			</li>

			<li ng-include="'templates/product-item/product-item.html'"
				class="product-item products-list__product-item product-item--both-prices" >
			</li>

			<li ng-include="'templates/product-item/product-item.html'"
				class="product-item products-list__product-item product-item--both-prices" >
			</li>

			<li ng-include="'templates/product-item/product-item.html'"
				class="product-item products-list__product-item product-item--both-prices" >
			</li>

			<li ng-include="'templates/product-item/product-item.html'"
				class="product-item products-list__product-item product-item--both-prices" >
			</li>

			<li ng-include="'templates/product-item/product-item.html'"
				class="product-item products-list__product-item product-item--both-prices" >
			</li>

			<li ng-include="'templates/product-item/product-item.html'"
				class="product-item products-list__product-item product-item--both-prices" >
			</li>

			<li ng-include="'templates/product-item/product-item.html'"
				class="product-item products-list__product-item product-item--both-prices" >
			</li>

			<li ng-include="'templates/product-item/product-item.html'"
				class="product-item products-list__product-item product-item--both-prices" >
			</li>

			<li ng-include="'templates/product-item/product-item.html'"
				class="product-item products-list__product-item product-item--both-prices" >
			</li>

			<li ng-include="'templates/product-item/product-item.html'"
				class="product-item products-list__product-item product-item--both-prices" >
			</li>
		</ul>
	</div>

	<div class="clearfix"></div>
</section>

