<section class="site-content-wrapper" ng-controller="categoriesSidebarCtrl">
	<div class="products-list grid-row" data-ng-controller="productsListPageCtrl">
		<ul class="products-list__list">
			<li data-ng-repeat="product in products"

				data-ng-include="'templates/product-item/product-item.html'"

				data-ng-class="{'product-item--no-image': product.image === null}"

				class="product-item products-list__product-item product-item--both-prices" >
			</li>
		</ul>
	</div>

	<div class="clearfix"></div>
</section>

