<article class="basket-page" data-ng-controller="basketPageCtrl">
    <header class="page-title">
        <h1 class="page-title__header">Корзина</h1>
    </header>

    <p data-ng-if="!basketProducts.length">Корзина пуста!</p>

    <table class="basket-table" data-ng-if="basketProducts.length">
        <thead>
            <tr>
                <td>Изображение</td>
                <td>Название</td>
                <td>Цена за единицу</td>
                <td>Количество</td>
                <td>Общая стоимость</td>
                <td></td>
            </tr>
        </thead>
        <tbody>
            <tr data-ng-repeat="item in basketProducts">
                <td><img src="{{item.image}}" alt="" class="basket-table__image"></td>
                <td><span class="basket-table__product-title" data-ng-bind="item.name"></span></td>
                <td><span class="basket-table__price-for-one">{{item.price}} РУБ</span></td>
                <td><span class="basket-table__count"><input type="number"

                                                             data-ng-model="item.quantity"

                                                             ng-change="helpers.updateTotal()"

                                                             class="filters-input filters-input__number"

                                                             min="1"

                                                             step="1"
                /></span></td>
                <td><span class="basket-table__price-for-all">{{item.price * item.quantity}} РУБ</span></td>
                <td><span class="basket-table__delete-item" data-ng-click="helpers.deleteItem(item.id)">Удалить из корзины</span></td>
            </tr>
            <tr>
                <td class="basket-table__td--no-border"></td>
                <td class="basket-table__td--no-border"></td>
                <td class="basket-table__td--no-border"></td>
                <td class="basket-table__td--no-border"></td>
                <td><span class="basket-table__price-for-all">ИТОГО: {{total}} РУБ</span></td>
                <td class="basket-table__td--no-border"></td>
            </tr>
        </tbody>
    </table>

    <div class="next-step basket-page__next-step"
         data-ng-if="basketProducts.length"
         data-ng-click="helpers.makeOrder()">Перейти к оформлению</div>

    <div class="empty-basket">
        <button data-ng-click="helpers.emptyCart()" class="ui labeled icon button mini red empty-basket__button">
            <i class="trash icon"></i>
            Очистить корзину
        </button>
    </div>
</article>

<script>
    document.title = 'Корзина';
</script>