<article class="basket-page" data-ng-controller="basketPageCtrl">
    <header class="page-title">
        <h1 class="page-title__header">Корзина</h1>
    </header>

    <p data-ng-click="helpers.emptyCart()"  style="cursor: pointer;">Очистить корзину</p>

    <p data-ng-if="!total">Корзина пуста!</p>

    <table class="basket-table" data-ng-if="basketProducts.length">
        <thead>
            <tr>
                <td>Изображение</td>
                <td>Название</td>
                <td>Цена за единицу</td>
                <td>Количество</td>
                <td>Общая стоимость</td>
                <td></td>
            </tr>
        </thead>
        <tbody>
            <tr data-ng-repeat="item in basketProducts">
                <td><img src="{{item.image}}" alt="" class="basket-table__image"></td>
                <td><span class="basket-table__product-title" data-ng-bind="item.name"></span></td>
                <td><span class="basket-table__price-for-one">{{item.price}} РУБ</span></td>
                <td><span class="basket-table__count"><input type="number"

                                                             data-ng-model="item.quantity"

                                                             ng-change="helpers.updateTotal()"

                                                             class="filters-input filters-input__number"

                                                             min="1"

                                                             step="1"
                /></span></td>
                <td><span class="basket-table__price-for-all">{{item.price * item.quantity}} РУБ</span></td>
                <td><span class="basket-table__delete-item" data-ng-click="helpers.deleteItem(item.id)">Удалить из корзины</span></td>
            </tr>
            <tr>
                <td class="basket-table__td--no-border"></td>
                <td class="basket-table__td--no-border"></td>
                <td class="basket-table__td--no-border"></td>
                <td class="basket-table__td--no-border"></td>
                <td><span class="basket-table__price-for-all">ИТОГО: {{total}} РУБ</span></td>
                <td class="basket-table__td--no-border"></td>
            </tr>
        </tbody>
    </table>

    <div class="next-step basket-page__next-step"
         data-ng-click="helpers.makeOrder()"
         disabled="{{!total}}">Перейти к оформлению</div>
</article>