<article class="basket-page">
    <header class="page-title" data-page-title></header>

    <table class="basket-table">
        <thead>
            <tr>
                <td>Изображение</td>
                <td>Название</td>
                <td>Цена за единицу</td>
                <td>Количество</td>
                <td>Общая стоимость</td>
                <td></td>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td><img src="http://tacticalbeard39.com/image/cache/import_files/6e5802f9-a7d4-4658-ac33-3811196f91a30-100x100.JPG" alt="" class="basket-table__image"></td>
                <td><span class="basket-table__product-title">БРОНЕЖИЛЕТ ASSAULT PLATE CARRIER</span></td>
                <td><span class="basket-table__price-for-one">2300 РУБ</span></td>
                <td><span class="basket-table__count">1</span></td>
                <td><span class="basket-table__price-for-all">2300 РУБ</span></td>
                <td><span class="basket-table__delete-item">Удалить из корзины</span></td>
            </tr>

            <tr>
                <td><img src="http://tacticalbeard39.com/image/cache/import_files/6e5802f9-a7d4-4658-ac33-3811196f91a30-100x100.JPG" alt="" class="basket-table__image"></td>
                <td><span class="basket-table__product-title">БРОНЕЖИЛЕТ ASSAULT PLATE CARRIER</span></td>
                <td><span class="basket-table__price-for-one">2300 РУБ</span></td>
                <td><span class="basket-table__count">1</span></td>
                <td><span class="basket-table__price-for-all">2300 РУБ</span></td>
                <td><span class="basket-table__delete-item">Удалить из корзины</span></td>
            </tr>

            <tr>
                <td><img src="http://tacticalbeard39.com/image/cache/import_files/6e5802f9-a7d4-4658-ac33-3811196f91a30-100x100.JPG" alt="" class="basket-table__image"></td>
                <td><span class="basket-table__product-title">БРОНЕЖИЛЕТ ASSAULT PLATE CARRIER</span></td>
                <td><span class="basket-table__price-for-one">2300 РУБ</span></td>
                <td><span class="basket-table__count">1</span></td>
                <td><span class="basket-table__price-for-all">2300 РУБ</span></td>
                <td><span class="basket-table__delete-item">Удалить из корзины</span></td>
            </tr>
        </tbody>
    </table>

    <div class="next-step basket-page__next-step">Перейти к оформлению</div>
</article>