@import "../../beard/sass/beard"

.register-page
  .register-page__form
    max-width: 800px
  .register-page__header
    font-family: $font-family-condensed-medium
    font-weight: 100
  &__fieldset
    padding: 10px 20px
    margin: 0 0 20px 0
    outline: solid 1px $light-brown
  &__fieldset-header
    text-align: center
    font-size: $font-size-p
  &__label
    display: block
    font-size: $font-size-p - 2
  .register-page__input-item
    margin: 10px 10px 0 0
  .register-page__input-text
    width: 250px
  .register-page__input-submit
    display: block
    margin: 30px auto
    transform: translateX(-19px)
    padding: 15px 30px
    background-color: transparentize($green, .2)
    cursor: pointer
    color: $white
    font-family: $font-family-condensed-bold
    font-size: $font-size-h4
    @include fullTrans(.3s)
    &:hover
      background-color: $green
      color: $white