<div class="main-menu__toggler">
	<div class="main-menu__toggler-stick main-menu__toggler-stick--top"></div>
	<div class="main-menu__toggler-stick main-menu__toggler-stick--middle"></div>
	<div class="main-menu__toggler-stick main-menu__toggler-stick--bottom"></div>
</div>

<ul class="main-menu__list animated fadeIn">
	<li class="main-menu__list-item"><a class="main-menu__link" ui-sref="categories">Каталог</a></li>
	<li class="main-menu__list-item"><a class="main-menu__link" ui-sref="about">О магазине</a></li>
	<li class="main-menu__list-item"><a class="main-menu__link" ui-sref="delivery-and-payment">Доставка и оплата</a></li>
	<li class="main-menu__list-item"><a class="main-menu__link" ui-sref="wholesale">Оптовым покупателям</a></li>
	<li class="main-menu__list-item"><a class="main-menu__link" ui-sref="contacts">Контакты</a></li>
</ul>