<article class="make-order-page" data-ng-controller="makeOrderPageCtrl as $orderCtrl">
    <div data-breadcrumbs class="breadcrumbs"></div>

    <header class="page-title make-order-page__page-title">
        <h1 class="page-title__header">Оформление заказа</h1>
    </header>

    <div class="sign-in-invite">
        <div class="sign-in-invite__text">Войдите в личный кабинет для быстрого оформления заказа</div>
        <div class="sign-in-invite__button">Войти</div>
    </div>

    <br><br>

    <form name="order">
        Имя<input type="text" name="firstname" required data-ng-model="$orderCtrl.order.firstname">
        Фамилия<input type="text" name="lastname" required data-ng-model="$orderCtrl.order.lastname">

        <br><br>

        E-mail<input type="email" name="email" required data-ng-model="$orderCtrl.order.email">
        Телефон<input type="tel" name="telephone" required data-ng-model="$orderCtrl.order.telephone">
        Компания<input type="text" name="company" required data-ng-model="$orderCtrl.order.company">

        <br><br>

        город<input type="text" name="city" required data-ng-model="$orderCtrl.order.city">
        адрес<input type="text" name="address_1" required data-ng-model="$orderCtrl.order.address_1">
        страна<input type="text" name="country_id" required data-ng-model="$orderCtrl.order.country_id">
        почтовый индекс<input type="text" name="postcode" required data-ng-model="$orderCtrl.order.postcode">
        регион<input type="text" name="zone_id" required data-ng-model="$orderCtrl.order.zone_id">

        <br><br>

        способ доставки<input type="text" name="shipping_method" required data-ng-model="$orderCtrl.order.shipping_method">
        способ оплаты<input type="text" name="payment_method" required data-ng-model="$orderCtrl.order.payment_method">
        согласие с условиями<input type="checkbox" name="agree" required data-ng-model="$orderCtrl.order.agree">

        <br><br>

        Комментарий к заказу<textarea name="comment" required data-ng-model="$orderCtrl.order.comment"></textarea>

        <br><br>

        <input type="submit" data-ng-click="$orderCtrl.sendOrder($event)">
    </form>

    <p data-ng-if="orderConfirmed">{{totalOrderInfo}}</p>

    <!--<div class="order-info">-->
        <!--<header class="order-info__header">Информация о заказе</header>-->
        <!--<div class="order-info__description">-->
            <!--<p data-ng-if="customerForm.customer.name">-->
                <!--Заказчик: {{customerForm.customer.name}}-->
                <!--<span data-ng-if="customerForm.customer.address"><br>-->
                    <!--Проживает по адресу: {{customerForm.customer.address.region}}-->
                    <!--<span data-ng-if="customerForm.customer.address.city">, г. </span>{{customerForm.customer.address.city}}-->
                    <!--<span data-ng-if="customerForm.customer.address.street">, </span>{{customerForm.customer.address.street}}-->
                <!--</span>-->
            <!--</p>-->
            <!--<p data-ng-if="customerForm.customer.email || customerForm.customer.tel">Контакты заказчика: <br>-->
                <!--<span data-ng-if="customerForm.customer.email">E-mail: {{customerForm.customer.email}}</span> <br>-->
                <!--<span data-ng-if="customerForm.customer.tel">Телефон: {{customerForm.customer.tel}}</span>-->

            <!--</p>-->
            <!--<p data-ng-if="makeOrder.paymentType">Способ оплаты: {{makeOrder.paymentType}}</p>-->
            <!--<p data-ng-if="shippingForm.shippingMethod">Способ доставки:-->
                <!--{{shippingForm.shippingMethod}}</p>-->
            <!--<p data-ng-if="makeOrder.comment">Комментарий к заказу: {{makeOrder.comment}}</p>-->
        <!--</div>-->

        <!--<button class="order-info__button"-->
                <!--data-ng-click="finishOrder(makeOrder.$invalid)"-->
                <!--data-ng-class="{'order-info__button&#45;&#45;disabled': makeOrder.$invalid}">-->
            <!--Перейти к оплате-->
        <!--</button>-->
    <!--</div>-->
</article>

<script>

</script>