<article class="make-order-page" data-ng-controller="makeOrderPageCtrl as $orderCtrl">
    <div data-breadcrumbs class="breadcrumbs"></div>

    <header class="page-title make-order-page__page-title">
        <h1 class="page-title__header">Оформление заказа</h1>
    </header>

    <div class="sign-in-invite">
        <div class="sign-in-invite__text">Войдите в личный кабинет для быстрого оформления заказа</div>
        <div class="sign-in-invite__button">Войти</div>
    </div>

    <br><br>

    <h3>Заказчик</h3>

    <form name="customer">
        Имя<input type="text" name="firstname" required data-ng-model="$orderCtrl.customer.firstname">
        Фамилия<input type="text" name="lastname" required data-ng-model="$orderCtrl.customer.lastname">

        <br><br>

        E-mail<input type="email" name="email" required data-ng-model="$orderCtrl.customer.email">
        Телефон<input type="tel" name="telephone" required data-ng-model="$orderCtrl.customer.telephone">
        Компания<input type="text" name="company" required data-ng-model="$orderCtrl.customer.company">

        <br><br>

        регион<select data-ng-model="$orderCtrl.customer.zone_id"
                      class="ui search icon dropdown input small make-order-page__dropdown ng-pristine ng-valid ng-empty ng-touched">
        <option value="" selected="selected">Регион</option>
        <option value="{{region.zone_id}}" data-ng-repeat="region in $orderCtrl.regions track by $index"
                data-ng-bind="region.name"></option>
    </select>
        город<input type="text" name="city" required data-ng-model="$orderCtrl.customer.city">
        адрес<input type="text" name="address_1" required data-ng-model="$orderCtrl.customer.address_1">
        почтовый индекс<input type="text" name="postcode" required data-ng-model="$orderCtrl.customer.postcode">

        <br><br>

        Комментарий к заказу<textarea name="comment" required data-ng-model="$orderCtrl.order.comment"></textarea>

        <br><br>

        <input type="submit" data-ng-click="$orderCtrl.sendOrder($event)">
    </form>

    <h3>Доставка</h3>

    <form name="delivery">
        способ доставки
        <select data-ng-model="$orderCtrl.delivery.shipping_method"
                class="ui search icon dropdown input small make-order-page__dropdown ng-pristine ng-valid ng-empty ng-touched">
            <option value="" selected="selected">Способ доставки</option>
            <option value="{{shippingMethod.value}}"
                    data-ng-repeat="shippingMethod in $orderCtrl.shippingMethods track by $index"
                    data-ng-bind="shippingMethod.name"></option>
        </select>

        <input type="submit" data-ng-click="$orderCtrl.setShippingMethod($event, $orderCtrl.delivery.shipping_method)">
    </form>

    <h3>Оплата</h3>

    <form name="payment">
        согласие с условиями<input type="checkbox" name="agree" required data-ng-model="$orderCtrl.agree">

        <br><br>

        <select data-ng-model="$orderCtrl.delivery.payment_method"
                class="ui search icon dropdown input small make-order-page__dropdown ng-pristine ng-valid ng-empty ng-touched">
            <option value="" selected="selected">Способ оплаты</option>
            <option value="{{paymentMethod.value}}"
                    data-ng-repeat="paymentMethod in $orderCtrl.paymentMethods track by $index"
                    data-ng-bind="paymentMethod.name"></option>
        </select>

        <input type="submit" data-ng-click="$orderCtrl.setPaymentMethod($event, $orderCtrl.delivery.payment_method)" value="Перейти к оплате">
    </form>


    <p data-ng-if="orderConfirmed">{{totalOrderInfo}}</p>

    <!--<div class="order-info">-->
    <!--<header class="order-info__header">Информация о заказе</header>-->
    <!--<div class="order-info__description">-->
    <!--<p data-ng-if="customerForm.customer.name">-->
    <!--Заказчик: {{customerForm.customer.name}}-->
    <!--<span data-ng-if="customerForm.customer.address"><br>-->
    <!--Проживает по адресу: {{customerForm.customer.address.region}}-->
    <!--<span data-ng-if="customerForm.customer.address.city">, г. </span>{{customerForm.customer.address.city}}-->
    <!--<span data-ng-if="customerForm.customer.address.street">, </span>{{customerForm.customer.address.street}}-->
    <!--</span>-->
    <!--</p>-->
    <!--<p data-ng-if="customerForm.customer.email || customerForm.customer.tel">Контакты заказчика: <br>-->
    <!--<span data-ng-if="customerForm.customer.email">E-mail: {{customerForm.customer.email}}</span> <br>-->
    <!--<span data-ng-if="customerForm.customer.tel">Телефон: {{customerForm.customer.tel}}</span>-->

    <!--</p>-->
    <!--<p data-ng-if="makeOrder.paymentType">Способ оплаты: {{makeOrder.paymentType}}</p>-->
    <!--<p data-ng-if="shippingForm.shippingMethod">Способ доставки:-->
    <!--{{shippingForm.shippingMethod}}</p>-->
    <!--<p data-ng-if="makeOrder.comment">Комментарий к заказу: {{makeOrder.comment}}</p>-->
    <!--</div>-->

    <!--<button class="order-info__button"-->
    <!--data-ng-click="finishOrder(makeOrder.$invalid)"-->
    <!--data-ng-class="{'order-info__button&#45;&#45;disabled': makeOrder.$invalid}">-->
    <!--Перейти к оплате-->
    <!--</button>-->
    <!--</div>-->
</article>

<script>

</script>