@import "../../beard/sass/beard"

.make-order-page
  position: relative
  @media all and (max-width: 1400px)
    padding: 0 100px
  &__input-block.input
    display: block
    input, select
      display: inline-block
      width: 200px
      margin: 0 15px 20px 0
  &__input-block--long.input
    input, select
      width: 250px
  &__textarea-block
    width: 500px
  &__textarea
    width: 515px
    height: 100px
    padding: .67857143em 1em
    border: solid 1px rgba(34,36,38,.15)
    border-radius: .28571429rem
    resize: none
    line-height: 1.21428571em
    font-size: .78571429em
    color: rgba(0,0,0,.87)
  &__page-title
    margin-bottom: 30px
  .make-order-page__header
    font-family: $font-family-condensed-medium
    font-weight: 100
  &__input-submit
    display: block
    padding: 15px
    border: none
    outline: none
    background-color: transparentize($green, .2)
    cursor: pointer
    color: $white
    font-family: $font-family-condensed-bold
    font-size: $font-size-h6
    @include fullTrans(.3s)
    &:hover
      background-color: $green
      color: $white

.sign-in-invite
  width: 350px
  height: 70px
  padding: 10px 10px
  background-color: $light-brown
  outline: solid 2px $dark-brown
  font-family: $font-family-condensed-medium
  &__text
    float: left
    width: 220px
  &__button
    float: right
    margin-top: 7px
    padding: 5px 20px
    background-color: transparentize($green, .2)
    outline: solid 2px $dark-brown
    cursor: pointer
    color: $white
    @include fullTrans(.3s)
    &:hover
      background-color: $green

.make-order-tabs
  width: 350px
  margin-top: 30px
  font-family: $font-family-condensed-medium
  &__tab-header
    padding: 5px 10px
    background-color: $light-brown
    outline: solid 2px $dark-brown
    font-size: $font-size-h5
    cursor: pointer
  &__tab-body
    padding: 20px 10px
  &__subheader
    font-family: $font-family-condensed-medium

.order-info
  position: absolute
  width: 350px
  top: 240px
  left: 400px
  padding: 5px 10px
  background-color: $light-brown
  outline: solid 2px $dark-brown
  font-family: $font-family-condensed-medium
  @media all and (max-width: 1400px)
    left: 500px
  &__header
    display: inline-block
    padding: 0
    border-bottom: solid 2px $dark-brown
    font-size: $font-size-h5
  &__description
    margin-top: 10px
    p
      display: inline-block
      width: 90%
      text-wrap:
      font-family: $font-family-condensed-medium
  &__button
    display: block
    width: 200px
    margin: 30px auto 10px auto
    padding: 5px 20px
    background-color: $green
    outline: solid 2px $dark-brown
    text-align: center
    cursor: pointer
    font-size: $font-size-h4
    letter-spacing: .5px
    color: $white
    &--disabled
      background-color: transparentize($green, .4)
      cursor: not-allowed

// forms

.common-form__make-order-tabs
  .common-form__input
    width: 230px
  .common-form__textarea
    width: 230px
    resize: vertical

.make-order-page__dropdown-select
  .dropdown-select__list-container--show
    .dropdown-select__list
      background: $white
      left: 0
      opacity: 1

.make-order-page__dropdown-select
  .dropdown-select__list
    width: 230px - 2

.make-order-page__dropdown-select
  .dropdown-select__list-item
    cursor: pointer
    padding: 0 7px
    &:hover
      color: $light-brown

.make-order-page__dropdown-select
  .dropdown-select__input
    width: 230px

#button-confirm
  display: none
