@import "../../beard/sass/beard"

.make-order-page
  position: relative
  @media all and (max-width: 1400px)
    padding: 0 100px

.make-order-page__page-title
  margin-bottom: 30px

.sign-in-invite
  width: 350px
  height: 70px
  padding: 10px 10px
  background-color: $light-brown
  outline: solid 2px $dark-brown
  font-family: $font-family-condensed-medium

.sign-in-invite__text
  float: left
  width: 220px

.sign-in-invite__button
  float: right
  margin-top: 7px
  padding: 5px 20px
  background-color: transparentize($green, .2)
  outline: solid 2px $dark-brown
  cursor: pointer
  color: $white
  @include fullTrans(.3s)
  &:hover
    background-color: $green

.make-order-tabs
  width: 350px
  margin-top: 30px
  font-family: $font-family-condensed-medium

.make-order-tabs__tab-header
  padding: 5px 10px
  background-color: $light-brown
  outline: solid 2px $dark-brown
  font-size: $font-size-h5
  cursor: pointer

.make-order-tabs__tab-body
  padding: 20px 10px

.make-order-tabs__subheader
  font-family: $font-family-condensed-medium

.order-info
  position: absolute
  width: 350px
  top: 240px
  left: 400px
  padding: 5px 10px
  background-color: $light-brown
  outline: solid 2px $dark-brown
  font-family: $font-family-condensed-medium
  @media all and (max-width: 1400px)
    left: 500px

.order-info__header
  display: inline-block
  padding: 0
  border-bottom: solid 2px $dark-brown
  font-size: $font-size-h5

.order-info__description
  margin-top: 10px
  p
    display: inline-block
    width: 90%
    text-wrap:
    font-family: $font-family-condensed-medium

.order-info__button
  display: block
  width: 200px
  margin: 30px auto 10px auto
  padding: 5px 20px
  background-color: $green
  outline: solid 2px $dark-brown
  text-align: center
  cursor: pointer
  font-size: $font-size-h4
  letter-spacing: .5px
  color: $white
  &--disabled
    background-color: transparentize($green, .4)
    cursor: not-allowed

// forms

.common-form__make-order-tabs
  .common-form__input
    width: 230px
  .common-form__textarea
    width: 230px
    resize: vertical

.make-order-page__dropdown-select
  .dropdown-select__list-container--show
    .dropdown-select__list
      background: $white
      left: 0
      opacity: 1

.make-order-page__dropdown-select
  .dropdown-select__list-item
    cursor: pointer
    padding: 0 7px
    &:hover
      color: $light-brown
