<ng-form name="filtersForm" class="filters__form">
    <input type="search"

           name="filtersForm.searchByName"

           data-ng-model="filters.filters.searchByName.value"

           class="filters__input filters__input--search"

           placeholder="Название товара"
    />

    <dropdown-select class="dropdown-select filters__dropdown-select"  data-items-list="manufacturersList" data-placeholder="Производитель">Производитель</dropdown-select>

    <label class="filters__label">Цена от</label>
    <input type="number"

           name="price-from"

           data-ng-model="rootScope.products.minPrice"

           class="filters-input filters-input__number filters-input__number--min"

           min="0"

           step="500"
    />

    <label class="filters__label">Цена до</label>
    <input type="number"

           data-ng-model="rootScope.products.maxPrice"

           class="filters-input filters-input__number filters-input__number--max"

           step="500"

           min="0"
    />

    <br>
    <br>

    <label for="filters-input--order-price-cheaper" class="filters__label filters__label--checkbox filters__label--checkbox-without-mark"
           data-ng-class="{'filters__label--checked': filters.order.cheaper.status}"
           data-ng-click="events.chooseOrder(filters.order.cheaper.name)" >Дешевле</label>
    <input type="checkbox"

           id="filters-input--order-price-cheaper"

           class="filters-input filters-input__checkbox filters-input__checkbox--without-mark filters-input--order-price-cheaper"
    />

    <label for="filters-input--order-price-expensive" class="filters__label filters__label--checkbox filters__label--checkbox-without-mark"
           data-ng-class="{'filters__label--checked': filters.order.expensive.status}"
           data-ng-click="events.chooseOrder(filters.order.expensive.name)">Дороже</label>
    <input type="checkbox"

           id="filters-input--order-price-expensive"

           class="filters-input filters-input__checkbox filters-input__checkbox--without-mark filters-input--order-price-expensive"
    />

    <span class="filters__filters-checkbox-block">
        <label for="filters-input--discounted-products" class="filters__label filters__label--checkbox filters__label--checkbox-without-mark"
               data-ng-class="{'filters__label--checked': filters.filters.discounted.status}"
               data-ng-click="events.filters.toggleDiscountFilter()">По скидке</label>
        <input type="checkbox"

               id="filters-input--discounted-products"

               class="filters-input filters-input__checkbox filters-input__checkbox--without-mark filters-input--discounted-products"
        />

        <label for="filters-input--novelties" class="filters__label filters__label--checkbox filters__label--checkbox-without-mark"
               data-ng-class="{'filters__label--checked': filters.filters.novelties.status}"
               data-ng-click="events.filters.toggleNoveltiesFilter()">Новинки</label>
        <input type="checkbox"

               id="filters-input--novelties"

               class="filters-input filters-input__checkbox filters-input__checkbox--without-mark filters-input--novelties"
        />

        <label for="filters-input--in-stock" class="filters__label filters__label--checkbox filters__label--checkbox-without-mark"
               data-ng-class="{'filters__label--checked': filters.filters.inStock.status}"
               data-ng-click="events.filters.toggleInStockFilter()">В наличии</label>
        <input type="checkbox"

               id="filters-input--in-stock"

               class="filters-input filters-input__checkbox filters-input__checkbox--without-mark filters-input--in-stock"
        />
    </span>
</ng-form>