@import "../beard"

.common-form__input
  @include placeholder($font-family-condensed-light, $font-size-p)
  &.ng-invalid.ng-dirty
    border-color: red
    outline-color: red

.common-form__textarea
  height: 100px
  @include placeholder($font-family-condensed-light, $font-size-p)

.common-form__label
  font-family: $font-family-condensed-light

.common-form__input
  padding: 0 5px

.common-form__textarea
  padding: 0 5px

.common-form__radio
  &:focus
    outline: none !important