<a href="#" class="product-item__figure"
        data-ng-click="goToUIProductState({productId: product.id, productName: product.product_description[1].name, categoryName: product.category})">
    <ng-include data-src="'templates/image-preloader/image-preloader.html'"></ng-include>
    <img data-load-image src="{{product.image}}" alt="{{product.product_description[1].name}}"
         class="product-item__image">
    <div class="product-item__novelty-plate">Новое</div>
</a>

<div class="product-item__image-header">
    <a href="#" class="product-item__link"
       data-ng-click="goToUIProductState({productId: product.id, productName: product.product_description[1].name, categoryName: product.category})">
        {{product.product_description[1].name}}
    </a>
</div>

<div class="product-item__basic-price">{{product.price | number: 0}} <span class="product-item__currency">руб.</span>
</div>
<div class="product-item__discount-price">{{product.discounts[0].price | number: 0}} <span
        class="product-item__currency">руб.</span></div>