@import "../../beard/sass/beard"

.grid-row.products-list
  float: left
  width: 800px
  margin-top: $filters-offset-top
  margin-left: 400px
  @media (max-width: 1024px)
    width: 100vw
    margin-top: 350px
    margin-left: 15px

.products-list__list
  display: flex
  padding: 0
  flex-wrap: wrap
  align-items: flex-start
  justify-content: flex-start
  @media (max-width: 1024px)
    justify-content: center
  .products-list__product-item
    margin-right: 30px
    margin-bottom: 25px
