@import "../../beard/sass/beard"

.site-header
  display: flex
  justify-content: space-around
  align-items: center
  flex-wrap: wrap
  flex-basis: 100%
  @media all and (max-width: 1400px)
    flex-direction: column

.site-header__container-for-other
  height: 200px
  margin-bottom: 20px
  background-color: $dark-brown
  text-align: center
  @media all and (max-width: 1400px)
    margin: 40px 20px 0 0
    align-self: flex-end
  @media all and (max-width: 500px)
    margin: 40px 0 0 0
    align-self: center
