@import "../../beard/sass/beard"

.user-enter
  font-family: $font-family-condensed-medium
  font-size: $basic-font-size + 2
  text-transform: uppercase

.user-enter__link
  color: $light-brown

.user-enter__delimiter
  color: $white