<!DOCTYPE html>
<html lang="en" ng-app="beard">
<head>
    <base href="/">

    <meta charset="UTF-8">
    <meta name="mailhandler-verification" content="20170918031734-tacbeard.com-verify">
    <title>Tactical beard</title>
    <link rel="shortcut icon" href="favicon.ico">

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="css/vendor-styles.min.css">

    <link class="path-to-css" rel="stylesheet" href="css/app-styles.min.css">

    <script src="js/vendor-logic.min.js"></script>

    <script>
        new WOW().init();
    </script>

    <script src="js/app-logic.min.js"></script>

</head>
<body ng-cloak id="app" data-ng-controller="stateCtrl" data-go-to-top>

    <!--SITE HEADER-->
    <section class="site-header-container grid-row">
        <header class="site-header"

                data-site-header>
        </header>
    </section>

    <!--MAIN MENU-->
    <section class="main-menu-wrapper grid-row">
        <div class="logo grid-col-4">
            <a ui-sref="home"><img data-img-svg src="img/icons/logo.svg" alt="Tactical beard"></a>
        </div>
        <nav class="main-menu"

             data-main-menu

             ng-controller="mainMenuCtrl as mainMenu">
        </nav>

        <aside class="categories-sidebar"

               data-categories-sidebar

               data-ng-if="sidebarCategoriesIsVisible()">
        </aside>

        <section class="filters"

                 data-ng-if="filtersBlockIsVisible()"

                 data-filters
        ></section>
    </section>

    <div class="grid-row ui-view-wrapper" data-ui-view></div>

    <!--&lt;!&ndash;blank line&ndash;&gt;-->
    <div class="container streak"></div>

    <footer class="grid-row site-footer"

            data-site-footer

            ng-controller="siteFooterCtrl as siteFooter">
    </footer>

    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
</body>
</html>